*{
  margin: 0;
  padding: 0;
}

.margin-message{
  margin: 11px 1px 0 1px;
}
.col-menulateral{
  padding: 0;
}
.navbar{
  padding: 0.5rem 4rem 0.5rem 1rem;
}

.dropdown-menu{
  min-width: 0;
}
.dropdown-menu a{
  cursor: pointer;
}
