<template>
  <nav class="navbar navbar-light" style="background-color: #6495ED;">
      <a class="navbar-brand mb-0 h1 text-white font-weight-bold" href="#">Elaine Kids</a>
    <form class="form-inline">
      <button class="btn btn-outline-light my-2 my-sm-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" click.delegate="clickSair()">Sair</button>
    </form>
  </nav>
</template>
