<template>
  <ux-dialog>
      <ux-dialog-body>
        <h3>${message}</h3>
        <h5>${nome}</h5>
      </ux-dialog-body>

      <ux-dialog-footer>
        <div class="row">
            <div class="col">
              <button class="btn btn-lg btn-block btn-outline-primary rounded-0 border " click.trigger = "controller.cancel()">Cancelar</button>
            </div>
            <div class="col">
              <button class="btn btn-lg btn-block btn-danger rounded-0 border " click.trigger = "controller.ok(message)">Sim</button>
            </div>
        </div>
      </ux-dialog-footer>
    </ux-dialog>
</template>
